<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if SimplyPages.navigation_types.size > 0 %>
    <div class="control-group">
      <%= f.label :navigation_type, class: 'control-label' %>
      <div class="controls">
        <%= f.select :navigation_type, SimplyPages.navigation_types.inject([]){|c,n| c << [n.to_s.capitalize, c.size]} %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group row">
    <div class="span4">
      <%= f.label :slug, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug %>
      </div>
    </div>
    <% unless @page.new_record? %>
    <div class="span4">
      <%= f.label 'Path', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :path, main_app.simply_pages_render_path(@page.slug), disabled: true %>
      </div>
    </div>
    <div class="span2">
      <%= link_to 'View', main_app.simply_pages_render_path(@page.slug), class: 'btn', target: '_blank', style: 'margin-top: 20px;' %>
    </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.label :content, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :content %>
    </div>
  </div>
  <div class="control-group form-actions">
    <%= f.submit f.object.new_record? ? 'Create Page' : 'Save Changes', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', pages_path, class: 'btn' %>
  </div>
<% end %>
<%= javascript_tag do %>
    $('#page_content').wysihtml5({
        html:         false,
        color:        false,
        style:        true,
        stylesheets:  [<%= stylesheet_paths.join(", ").html_safe %>]
    });
    $('#page_content').css('font-family','inherit');
<% end %>
