<ul class="list sortable ui-sortable">
<% @pages.each do |page| %>
 <li id="page_<%= page.id %>">
   <div class="item">
     <div class="icon published">
       <div class="dragger">
         <span>⇅</span>
       </div>
     </div>
     <div class="btn-group">
       <%= link_to 'new sub-page', new_page_path(parent_id: page.id), class: 'btn btn-small' %>
       <%= link_to 'edit', edit_page_path(page.id), class: 'btn btn-small' %>
       <%= link_to 'delete', page_path(page.id, method: :delete), class: 'btn btn-small btn-danger', rel: 'nofollow', data: {confirm: 'Delete the page "' + page.title + '" permanently?'} %>
     </div>
     <div class="item-content">
       <div class="item-title">
         <%= link_to page.title, edit_page_path(page.id), class: 'item-label' %>
       </div>
       <div class="item-meta">
         <%= link_to page_url(page.id), page_url(page.id), target: '_blank' %>
       </div>
     </div>
   </div>
 </li>
<% end %>
</ul>
<ul class="list">
  <li class="item">
    <div class="item-content">
      <div class="item-title">
        <%= link_to 'create a new Page', new_page_path, class: 'btn btn-small' %>
      </div>
    </div>
  </li>
</ul>