<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_nav">
  <ul>
    <li><%= link_to 'CMS', 'cms', target: '_top' %></li>
    <%= simply_pages_nav :main %>
  </ul>
</div>
<div id="content">
  <%= yield %>
</div>
<div id="footer">
  <ul>
    <%= simply_pages_nav :footer %>
  </ul>
</div>

</body>
</html>
