<%= form_for(@file) do |f| %>
  <% if @file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file.errors.count, "error") %> prohibited this file from being saved:</h2>

      <ul>
      <% @file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group row">
    <div class="span5">
      <%= f.label :title, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="span3">
      <%= f.label 'Group', class: "control-label" %>
      <div class="controls">
        <%= f.select :file_group_id, options_for_select(['None',nil]+(@file_groups || []).map{|g| [g.title, g.id]}, @file.file_group_id) %>
      </div>
    </div>
  </div>
  <div id="imagePreview" class="">
      <a href="#" class="thumbnail">
        <% if @file.media.nil? || @file.new_record? %>
            <%= image_tag(image_path('missing_still.png'), size: @file.media.styles[:resized].geometry.gsub(/[<>#]/,'')) %>
        <% elsif @file.is_image? == false %>
            <%# document icon %>
        <% else %>
            <%= image_tag(@file.media.url(:resized), size: @file.media.styles[:resized].geometry.gsub(/[<>#]/,'') ) %>
        <% end %>
      </a>
      <h4>File Upload</h4>
      <div class="control-group row">
        <div id="media_button" class="span2">
          <%= button_tag'Upload File', type: :button, class: 'btn btn-info' %>
          <%= javascript_tag do %>
            $('#media_button button').click(function(event){
              $('#media_button button').toggleClass('active');
              var uploadButton = $('#file_media');
              uploadButton.attr('disabled', !(uploadButton.attr('disabled')));
              uploadButton.toggleClass('btn-info');
              event.stopPropagation();
            });
          <% end %>
        </div>
        <div id="media_upload" class="span4">
            <%= f.label 'Media File', class: "control-label" %>
            <div class="controls">
              <%= f.file_field :media, label: 'Media File', disabled: true, class: 'btn' %>
            </div>
        </div>
      </div>
      <%= javascript_tag do %>
          function updateImagePreview(imageInput) {
            if(imageInput.files && imageInput.files[0]) {
              var file = new FileReader();
              file.onload = function(e) {
                $('#imagePreview img').attr('src', e.target.result);
              }
              var f = imageInput.files[0];
              file.readAsDataURL(f);
              $('#file_media_file_name').val(f.name);
              $('#file_media_file_name').attr('disabled');
              $('#file_media_content_type').val(f.type);
              $('#file_media_file_size').val(f.size);
              $('#dimensions').hide();
            }
          }
          $('#imagePreview input').change(function(){ updateImagePreview(this); });
      <% end %>
  </div>

  <% unless @file.media_file_name.blank? %>
  <hr/>
  <h4>File Data</h4>
  <div id="mediaData" class="row">
    <div class="control-group span4">
      <%= f.label :media_file_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :media_file_name, disabled: true %>
      </div>
    </div>
    <div class="control-group span4">
      <%= f.label :media_content_type, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :media_content_type, disabled: true %>
      </div>
    </div>
    <div class="control-group span4">
      <%= f.label :media_file_size, class: "control-label" %>
      <div class="controls">
        <%= f.number_field :media_file_size, disabled: true %>
      </div>
    </div>
    <% if @file.is_image? %>
    <div id="dimensions" class="control-group span4">
      <%= f.label :image_dimensions, 'Original Dimensions', class: "control-label" %>
      <div class="controls">
        <%= text_field_tag :image_dimensions, "#{@file.image_dimensions} (resized: #{@file.resized_dimensions})", disabled: true %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
  <div class="control-group form-actions">
    <%= f.submit f.object.new_record? ? 'Create File' : 'Save Changes', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', files_path, class: 'btn' %>
  </div>
<% end %>
