<li id="<%= grouped_dom_id(grouped) %>">
  <div class="item<%= grouped.is_image? ? ' img' : '' %>">
    <% if grouped.folder? && grouped.children.size > 0 %>
    <div class="toggle">
      <%= link_to content_tag(:span, 'Toggle'), files_path(node: grouped.id), remote: true %>
    </div>
    <% end %>
    <div class="icon">
      <% if grouped.is_image? %>
          <img src="<%= grouped.media.url(:thumb) %>" class="dragger" alt="">
      <% else %>
          <div class="dragger">
            <span class="folder">⇅</span>
          </div>
      <% end %>
    </div>
    <div class="btn-group">
      <% if grouped.is_a?(SimplyPages::File) %>
          <%= link_to 'edit', edit_file_path(grouped.id), class: 'btn btn-small' %>
          <%= link_to 'delete', file_path(grouped.id, method: :delete), class: 'btn btn-small btn-danger', rel: 'nofollow', data: {confirm: 'Delete the file "' + grouped.title + '" permanently?'} %>
      <% else %>
          <%= link_to 'add new file', new_file_path(file_group_id: grouped.id), class: 'btn btn-small' %>
          <%= link_to 'add sub-folder', new_file_group_path(parent_id: grouped.id), class: 'btn btn-small' %>
          <%= link_to 'edit', edit_file_group_path(grouped.id), class: 'btn btn-small' %>
          <%= link_to 'delete', file_group_path(grouped.id, method: :delete), class: 'btn btn-small btn-danger', rel: 'nofollow', data: {confirm: 'Delete the folder "' + grouped.title + '" permanently?'} %>
      <% end %>
    </div>
    <div class="item-content">
      <% if grouped.is_a?(SimplyPages::File) %>
          <div class="item-title">
            <%= link_to grouped.title, edit_file_path(grouped.id), class: 'item-label' %>
          </div>
          <div class="item-meta">
            <%= link_to grouped.media.url(:resized), target: '_blank' %>
          </div>
      <% else %>
          <div class="item-title">
            <%= link_to grouped.title, edit_file_group_path(grouped.id), class: 'item-label' %>
          </div>
      <% end %>
    </div>
  </div>
  <% if grouped.folder? %>
  <ul class="children sortable ui-sortable"></ul>
  <% end %>
</li>