
<%= notifications %>
<ul id="file_list" class="list sortable ui-sortable">
  <%= render partial:'grouped', collection: @items %>
</ul>
<ul class="list">
  <li class="item">
    <div class="item-content">
      <div class="item-title">
        <%= link_to 'create a new Folder', new_file_group_path, class: 'btn btn-small' %>
      </div>
    </div>
  </li>
  <li class="item">
    <div class="item-content">
      <div class="item-title">
        <%= link_to 'upload a new File', new_file_path, class: 'btn btn-small' %>
      </div>
    </div>
  </li>
</ul>
<%= javascript_tag do %>
$('#file_list .item .toggle').each(function(){
    $(this).click(function(){
        $(this).parent().toggleClass('open');
    });
});
<% end %>

